<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2022-2022 Huawei Technologies Co.,Ltd.
  ~
  ~ openGauss is licensed under Mulan PSL v2.
  ~ You can use this software according to the terms and conditions of the Mulan PSL v2.
  ~ You may obtain a copy of Mulan PSL v2 at:
  ~
  ~           http://license.coscl.org.cn/MulanPSL2
  ~
  ~ THIS SOFTWARE IS PROVIDED ON AN "AS IS" BASIS, WITHOUT WARRANTIES OF ANY KIND,
  ~ EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO NON-INFRINGEMENT,
  ~ MERCHANTABILITY OR FIT FOR A PARTICULAR PURPOSE.
  ~ See the Mulan PSL v2 for more details.
  -->

<Configuration status="OFF" monitorInterval="600" shutdownHook="disable" shutdownTimeout="5">
    <Properties>
        <!--Property LOG_HOME must be absolute path dir -->
        <Property name="LOG_HOME">logs</Property>
        <Property name="LOG_LEVEL">INFO</Property>
        <Property name="LOG_NAME">${sys:logName}</Property>
        <Property name="KAFKA_SERVER">${sys:kafka.bootstrapServers:-127.0.0.1:9092}</Property>
        <Property name="KAFKA_TOPIC">${sys:kafka.topic}</Property>
        <Property name="KAFKA_KEY">${sys:kafka.key}</Property>
        <Property name="SAFE_MSG">%enc{%msg}{CRLF}%n</Property>
        <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%c{1.}] - ${SAFE_MSG}"/>
    </Properties>
    <Appenders>
        <Console name="console_out_appender" target="SYSTEM_OUT">
            <Filters>
                <ThresholdFilter level="${LOG_LEVEL}" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <RollingRandomAccessFile name="progress" immediateFlush="true" fileName="${LOG_HOME}/${LOG_NAME}.log"
                                 filePattern="${LOG_HOME}/history/${LOG_NAME}.%d{yyyyMMddHH}.zip">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="200MB"/>
            </Policies>
            <Filters>
                <ThresholdFilter level="${LOG_LEVEL}" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </RollingRandomAccessFile>

        <Kafka name="kafka" topic="${KAFKA_TOPIC}" key="${KAFKA_KEY}">
            <Filters>
                <ThresholdFilter level="ERROR" onMatch="NEUTRAL" onMismatch="DENY"/>
                <RegexFilter regex="&lt;CODE:\d{4}> [\s\S]+" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <Property name="bootstrap.servers">${KAFKA_SERVER}</Property>
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %c{1.}:() - %msg%n"/>
        </Kafka>
    </Appenders>

    <Loggers>
        <Root level="${LOG_LEVEL}">
            <!--
                must be close console_out_appender ,when portal exec gs data check .
                portal will catch console log for something, this will cause check data process shutdown error.
            -->
            <AppenderRef ref="console_out_appender"/>
            <AppenderRef ref="progress"/>
            <AppenderRef ref="kafka"/>
        </Root>
        <Logger name="org.apache.logging.log4j" level="off" />
        <logger name="org.apache.kafka" level="error" />
        <logger name="oshi.util" level="off" />
        <logger name="org.hibernate.validator" level="off" />
        <logger name="org.springframework" level="error" />
        <logger name="_org.springframework.web" level="error" />
        <logger name="org.mybatis.spring" level="error" />
        <logger name="org.apache.ibatis" level="error" />
        <logger name="com.alibaba.druid.pool" level="off" />
        <logger name="org.apache.catalina" level="off" />
    </Loggers>

</Configuration>