<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2022-2022 Huawei Technologies Co.,Ltd.
  ~
  ~ openGauss is licensed under Mulan PSL v2.
  ~ You can use this software according to the terms and conditions of the Mulan PSL v2.
  ~ You may obtain a copy of Mulan PSL v2 at:
  ~
  ~           http://license.coscl.org.cn/MulanPSL2
  ~
  ~ THIS SOFTWARE IS PROVIDED ON AN "AS IS" BASIS, WITHOUT WARRANTIES OF ANY KIND,
  ~ EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO NON-INFRINGEMENT,
  ~ MERCHANTABILITY OR FIT FOR A PARTICULAR PURPOSE.
  ~ See the Mulan PSL v2 for more details.
  -->

<Configuration status="OFF" monitorInterval="600">
    <Properties>
        <!--Property LOG_HOME must be absolute path dir -->
        <Property name="LOG_HOME">logs</Property>
        <Property name="LOG_LEVEL">INFO</Property>
        <Property name="LOG_NAME">${sys:logName}</Property>
        <Property name="LOG_DEBUGGER">debugger</Property>
        <Property name="LOG_KAFKA">kafka</Property>
        <Property name="LOG_BUSINESS">business</Property>
        <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%c{1.}] - %msg%n"/>
    </Properties>
    <Appenders>
        <Console name="console_out_appender" target="SYSTEM_OUT">
            <Filters>
                <ThresholdFilter level="${LOG_LEVEL}" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <RollingRandomAccessFile name="progress" immediateFlush="true" fileName="${LOG_HOME}/${LOG_NAME}.log"
                                 filePattern="${LOG_HOME}/history/${LOG_NAME} - %d{yyyy-MM-dd}.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="20MB"/>
            </Policies>
            <Filters>
                <ThresholdFilter level="${LOG_LEVEL}" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </RollingRandomAccessFile>
    </Appenders>

    <Loggers>
        <Root level="${LOG_LEVEL}">
            <AppenderRef ref="console_out_appender"/>
            <AppenderRef ref="progress"/>
        </Root>
        <logger name="org.apache.kafka" level="off" />
        <logger name="oshi.util" level="off" />
        <logger name="org.hibernate.validator" level="off" />
        <logger name="org.springframework" level="error" />
        <logger name="_org.springframework.web" level="error" />
        <logger name="org.mybatis.spring" level="error" />
        <logger name="org.apache.ibatis" level="error" />
        <logger name="com.alibaba.druid.pool" level="off" />
        <logger name="org.apache.catalina" level="off" />
    </Loggers>

</Configuration>